[Unit]
Description=FloodUI
After=network-online.target openvpn-own-client.service rtorrent.service

[Service]
WorkingDirectory=/opt/flood
ExecStart=flood
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=rtorrent
Group=rtorrent
Environment=FLOOD_OPTION_baseuri=/flood

[Install]
WantedBy=multi-user.target
